<!doctype html>
<html ng-app="helloApp">
  <head>
    <title>Mixer app</title>
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/custom.css">

    <script type="text/javascript" src="/assets/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/jqueryui.min.js"></script>
    <script type="text/javascript" src="/assets/angular.min.js"></script>
    <script type="text/javascript" src="/assets/angularui.min.js"></script>
    <script type="text/javascript" src="/assets/bootstrap.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/assets/adminPage.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>
  <body ng-controller="AdminCtrl">
    <div class="jumbotron">
      <h2 style="text-align:center"> Number of cocktails mixed: {{drinksServed}} </h2>

      <div class="container center-block">
    		<div ng-show="!loggedIn">
    			<form novalidate class="form-horizontal">
    	  		<div class="form-group">
    	  		 <label for="name" class="col-sm-2 control-label">Name</label>
  					  <div class="col-sm-10">
  					    <input type="text" class="form-control" id="name" placeholder="Name" ng-model ="credentials.name">
  					  </div>
  					</div>
  					<div class="form-group">
    	  		 <label for="name" class="col-sm-2 control-label">Password</label>
  					  <div class="col-sm-10">
  					    <input type="password" class="form-control" id="name" placeholder="Password" ng-model ="credentials.password">
  					  </div>
  					</div>
  					
    	  	  <div class="pull-right">
    	  	    <input class="btn btn-default" type="submit" ng-click="login()" value="Save" />
    	  	  </div>
    	  	  <div ng-show="job.problem"  class="alert alert-warning" role="alert">{{job.problem}}</div>
    	  	</form>
    		</div>  
   		</div>
    </div>

    <div ng-show="loggedIn">
    	 <span ng-show="workers.length<1">
        <div class="panel panel-danger">
          <div class="panel-heading" style="text-align:center">
            <h3>
              No workers connected to server
            </h3>
          </div>
        </div>
      </span>

      <span ng-show="workers.length>0" ng-repeat="worker in workers" class='job'>
        <div class="panel panel-success" ng-show='worker.ready'>
          <div class="panel-heading" style="text-align:center">
            <h4>
              Worker: {{worker.name}}. Ready: {{ worker.ready | worker_ready }}
    	  	    <input ng-show="worker.ready" class="btn btn-danger" type="submit" ng-click="clean(worker)" value="Clean worker" />
            </h4>
          </div>
          <div class="panel-body">
            <div class='container col-sm-6' ng-repeat="machine in worker.worker.cocktails">
              <div class="panel panel-default" ng-show='machine.ready'>
              	<div class="panel-heading">Machine: {{$index}}</div>
              	<div class="panel-body">
              		Current Job:
              	</div>
              </div>
            </div>
              {{worker}}
          </div>
        </div>
        <div class="panel panel-warning" ng-show='!worker.ready'>
          <div class="panel-heading" style="text-align:center">
            <h4>
              Worker: {{worker.name}}. Ready: {{ worker.ready | worker_ready }}
    	  	    <input ng-show="!worker.ready" class="btn btn-success" type="submit" ng-click="stop(worker)" value="Stop" />
            </h4>
          </div>
          <div class="panel-body">
            <div class='container col-sm-6' ng-repeat="machine in worker.worker.cocktails">
              <div class="panel panel-default" ng-show='machine.ready'>
              	<div class="panel-heading">
              		Machine: {{$index}}. Current Drink: {{machine}}. <input ng-show="worker.ready" class="btn btn-danger" type="submit" ng-click="cleanMachine(worker, index)" value="Clean Machine" />
              	</div>
              	<div class="panel-body">
              		Current Job:
              	</div>
              </div>
            </div>
              {{worker}}
          </div>

        </div>
      </span>
    </div>
    
  </body>
</html>