<!doctype html>
<html ng-app="helloApp">
  <head>
    <title>Mixer app</title>
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/custom.css">

    <script type="text/javascript" src="/assets/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/jqueryui.min.js"></script>
    <script type="text/javascript" src="/assets/angular.min.js"></script>
    <script type="text/javascript" src="/assets/angularui.min.js"></script>
    <script type="text/javascript" src="/assets/bootstrap.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/assets/mainPage.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>
  <body ng-controller="MixerCtrl">
    <div class="jumbotron" ng-show='workers.length > 0'>
      <h1 text-align="center"> Number of cocktails mixed: {{drinksServed}} </h1>

      <span ng-repeat="worker in workers" class='job'>
        <div class="panel panel-success" ng-show='worker.ready'>
          <div class="panel-heading">
            <h3>
              Worker: {{worker.name}}. Ready: {{ worker.ready | worker_ready }}
            </h3>
          </div>
          <div class="panel-body">
            <span ng-repeat"machine in worker.cocktails">
              <span></span>
              <span></span>
              {{worker}}
            </span>
          </div>
        </div>
        <div class="panel panel-warning" ng-show='!worker.ready'>
          <div class="panel-heading">
            <h3>
              Worker: {{worker.name}}. Ready: {{ worker.ready | worker_ready }}
            </h3>
          </div>
          <div class="panel-body">
            <span>
              {{worker}}
            </span>
          </div>

        </div>
      </span>
    </div>

    <div class="jumbotron" ng-show='notifications.length > 0'>
      <span ng-repeat="notification in notifications" class='notification'>
          <div class="panel panel-success">
            <div class="panel-heading">{{notification.heading}}</div>
            <div class="panel-body">{{notification.message}}</div>
          </div>
      </span>
    </div>

    <div class="container col-sm-12" id="mainContent">
      <div class='panel panel-default'>
        <div class='panel-heading'>
          <h3 class="panel-title">
            <a role="button" data-toggle="collapse" data-target="#currentMixingQueue">
              Current mixxing queue
            </a>
          </h3>
        </div>
        <div id="currentMixingQueue" class='panel-collapse collapse in' style="max-height: 500px;overflow-y:scroll;">
          <div class="panel-body">
            <ul ng-repeat="job in queue">
              <li>
                (id: {{job.id}}) Drink for {{job.name}}. Drink: {{job.cocktail}}
              </li>
            </ul>
            <div ng-show="queue.length < 1"><h4>Nothing queued!</h4></div>
            <br><br>
            <p>You can add more drinks to the queue using the form below.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container col-sm-6 center-block">
      <form novalidate class="simple-form" ng-show="drinks.length > 0">
        Name: <input type="text" ng-model ="job.name" /><br />
        Drink: 
        <span ng-repeat='drink in drinks'>
          <input type="radio" ng-model="job.cocktail" value="{{drink}}" class="jobCocktail"/> {{drink}}
        </span>
        <div class="pull-right">
          <input class="btn btn-default" type="button" ng-click="resetForm()" value="Reset" />
          <input class="btn btn-default" type="submit" ng-click="sendJob()" value="Save" />
        </div>
        <div ng-show="job.problem"  class="alert alert-warning" role="alert">{{job.problem}}<div>
      </form>
   </div>

  </body>
</html>