<!doctype html>
<html ng-app="helloApp">
  <head>
    <title>Mixer app</title>
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/custom.css">

    <script type="text/javascript" src="/assets/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/jqueryui.min.js"></script>
    <script type="text/javascript" src="/assets/angular.min.js"></script>
    <script type="text/javascript" src="/assets/angularui.min.js"></script>
    <script type="text/javascript" src="/assets/bootstrap.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/assets/mainPage.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>
  <body ng-controller="MixerCtrl">
    <div class="jumbotron">
      <h2 style="text-align:center"> Number of cocktails mixed: {{drinksServed}} </h2>
    </div>

    <div class="jumbotron" ng-show='notifications.length > 0'>
      <div class="container col-sm-6" ng-repeat="notification in notifications" class='notification'>
          <div class="panel panel-success">
            <div class="panel-heading">{{notification.heading}}</div>
            <div class="panel-body">{{notification.message}}</div>
          </div>
      </div>
    </div>

    <div class="container col-sm-12" id="mainContent">
      <div class='panel panel-default'>
        <div class='panel-heading'>
          <h3 class="panel-title" style="text-align:center">Current mixxing queues</h3>
        </div>
        <div id="currentMixingQueue" style="max-height: 500px;overflow-y:scroll;">
          <div class="panel-body">
            <div class="container col-sm-2" ng-repeat="drink in drinks">
              Drink queue for {{drink.name}}

              <ul ng-repeat="job in queue">
                <span ng-show="job.cocktail == drink.key">
                  <li>
                    {{drink.name}} for {{job.name}}
                  </li>
                </span>
              </ul>
            </div>
            
            <div ng-show="queue.length < 1"><h4>Nothing queued!</h4></div>
            <br><br>
            <p ng-show="queue.length < 1">You can add more drinks to the queue on your own phone!</p>
          </div>
        </div>
      </div>
    </div>

    <div ng-show="workers.length<1">
      <div class="panel panel-danger">
        <div class="panel-heading" style="text-align:center">
          <h3>
            No workers connected to server
          </h3>
        </div>
      </div>
    </div>

    <div ng-show="workers.length>0" ng-repeat="worker in workers" class='job'>
      <div class="panel panel-success" ng-show='worker.ready'>
        <div class="panel-heading" style="text-align:center">
          <h4>
            Worker: {{worker.name}}. Ready: {{ worker.ready | worker_ready }}
          </h4>
        </div>
        <div class="panel-body">
          <div class="container col-sm-6" ng-repeat="machine in worker.worker.cocktails">
            <div class="panel panel-default">
              <div class="panel-heading">
                Machine: {{machine.pump}}. Makes {{machine.cocktail}}. Ready: {{ worker.ready || machine.ready | worker_ready }}.
              </div>
            </div>
            <div class="panel-heading">
              <span ng-repeat="job in worker.jobs" ng-show="job.pump == machine.pump">
                <h4> last job info: </h4>
                {{ job.cocktail }} for {{job.name}} status. Ready: {{ job.ready | worker_ready }}
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-warning" ng-show='!worker.ready'>
        <div class="panel-heading" style="text-align:center">
          <h4>
            Worker: {{worker.name}}. Ready: {{ worker.ready | worker_ready }}
          </h4>
        </div>
        <div class="panel-body">
          <div class="container col-sm-6" ng-repeat="machine in worker.worker.cocktails">
            <div class="panel panel-default">
              <div class="panel-heading">
                Machine: {{machine.pump}}. Makes {{machine.cocktail}}. Ready: {{ worker.ready || machine.ready | worker_ready }}.
              </div>
            </div>
            <div class="panel-heading">
              <span ng-repeat="job in worker.jobs" ng-show="job.pump == machine.pump">
                <h4> last job info: </h4>
                {{ job.cocktail }} for {{job.name}} status. Ready: {{ job.ready | worker_ready }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>